<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Application</span>
</mat-toolbar>

<mat-drawer-container class="example-container" color="primary" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
    Toggle extra text
    </button>
  </mat-drawer>

  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>

</mat-drawer-container>
